 .parent {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(5, 1fr);
     grid-column-gap: 0px;
     grid-row-gap: 0px;
 }
 
 .div1 {
     background-color: aliceblue;
     grid-area: 1 / 1 / 2 / 2;
 }
 
 .div2 {
     grid-area: 1 / 2 / 2 / 3;
 }
 
 .div3 {
     grid-area: 1 / 3 / 2 / 4;
 }
 
 .div4 {
     grid-area: 1 / 4 / 2 / 5;
 }
 
 .div5 {
     grid-area: 1 / 5 / 2 / 6;
 }
 
 .table {
     border: 10ch;
     border-radius: 5%;
     border-color: aqua;
 }
 
 . body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
 }
 
 header {
     background-color: #333;
     color: white;
     padding: 1em;
     text-align: center;
 }
 
 nav {
     background-color: #555;
     padding: 0.5em;
     text-align: center;
 }
 
 nav a {
     color: white;
     margin: 0 1em;
     text-decoration: none;
 }
 
 main {
     padding: 2em;
 }
 
 footer {
     background-color: #333;
     color: white;
     text-align: center;
     padding: 1em;
     position: fixed;
     bottom: 0;
     width: 100%;
 }
 
 .buy-button {
     background-color: rgb(5, 42, 255);
 }